<!--Nav de HIIT--->
  <nav class="navbar navbar-expand-lg navbar-light static-top">
      <div class="container">
          <img id="im" class="navbar-brand" width="133" height="56" alt="Angular Logo" src="\assets\Logo_principal.png"/>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
              <span class="form-inline my-2 my-md-0">
                  <a href="https://admin.hiit.io/" target="_blank"><span class="toolbar" id="sr"><h5>{{subtitle}}</h5></span></a>
              </span>
          </ul>
        </div>
      </div>
    </nav>
    <!--End Nav de HIIT--->
    <!---Group one -->
    <section id="bg">
    <div class="container">
        <div class="row bg">
          <div class="col">
            <div class="card">
              <div class="container">
                <h3><b>Controla tu Centro Deportivo</b></h3> 
                <p class="tm">Control total de tus clases, ingresos <br>
                  alumnos y maestros en tiempo real desde <br>
                  cualquier dispositivo</p> 
              </div>
            </div>
          <button type="button" class="btn"><h4>INICIA GRATIS</h4></button>
          </div>
          <div class="col">
          </div>
        </div>
    </div>
      </section>
        <!---End Group one -->
        <!---Group two -->
    <section id="bk">
        <div class="container">
            <div class="row">
              <div class="col cols">
                  <h4 style="color:#e65c00;">Gestion <br> Poderosa</h4> <br> 
                <p class="a">{{d}}<br>
                {{e}}<br>
              {{f}}</p> <br>
              </div>
              <div class="col text-center mg">
                  &nbsp;<img width="144" height="166" alt="Pago" src="\assets\Controldepagos.png" />&nbsp;
                  &nbsp;<img width="144" height="166" alt="Pago" src="\assets\Controlacademico.png"/>&nbsp;
                  &nbsp;<img width="144" height="166" alt="Pago" src="\assets\Indicadoresclave.png"/>
                  &nbsp;<img width="144" height="166" alt="Pago" src="\assets\Reportemetricas.png"/>
                  &nbsp;<img width="144" height="166" alt="Pago" src="\assets\Calendarioescolar.png"/>
              </div>
            </div>
        </div>
          </section>
            <!---End Group two -->
            <!---Group three -->
    <section id="bc">
        <div class="container">
            <div class="row">
              <div class="col">
                <ul>
                    <h6><img src="\assets\check.png">Toma desiciones con el tablero de indicadores</h6>
                    <h6><img src="\assets\check.png">Gestiona tus socios y entrenadores</h6>
                    <h6><img src="\assets\check.png">Registra tus ventas</h6>
                    <h6><img src="\assets\check.png">Mide la productividad de tu personal</h6>
                    <h6><img src="\assets\check.png">Administra tus rutinas y clases</h6>
                    <h6><img src="\assets\check.png">Controla tus ingresos y egresos</h6>
                </ul>
              </div>
              <div class="col">
                
              </div>
              <br>
              <br>
              <br>
            </div>
        </div>
          </section>
            <!---End Group three -->
            <!---Group four -->
    <section id="bk">
        <div class="container-fluid">
            <div class="card">      
          <h2>Controla tu  centro deportivo</h2>
                <div class="br">
                  Cuota fija  $640 MXN{{costo}} <img width="44" height="66" alt="Pago" src="\assets\Group10.png"/>
                  <input type="number" placeholder="Ingresa tu cantidad"><img width="44" height="66" alt="Pago" src="\assets\Group5.png"/>
                  Pago Mensual {{total}} $2 400 MXN
                </div>
                <div class="d-flex justify-content-center">
                <button class="btn-md d-flex justify-content-center">INICIA GRATIS</button></div>
                  </div>
        </div>
          </section>
            <!---End Group four -->
            <!---Group five -->
    <section id="bk">
            <div class="row">
              <div class="col">
                  <div class="d-flex justify-content-start">
                  <img src="\assets\Page1.png"></div>
              </div>
             
            </div>
          </section>
            <!---End Group five -->
            <br>
            <br>
            <br>
            <br>
            <!---Group six -->
    <section id="bk">
            <div class="row">
                <div class="col c">
                    <div class="d-flex justify-content-end">
                    <img src="\assets\plecanegra.png">
                  </div>
              
                </div>
        </div>
          </section>
            <!---End Group six -->
                 <!---Group form-->
                 
    <section class="bg-dark">
        <br>
        <div class="container-fluid">
            <form>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="Name">Nombre Completo</label>
                        <input type="text" class="form-control" id="Text" placeholder="Nombre Completo">
                      </div>
                  <div class="form-group col-md-6">
                    <label for="Email">Email</label>
                    <input type="email" class="form-control" id="Email" placeholder="Email">
                  </div>
                </div>
                <div class="form-group">
                  <label for="Address">Direccion</label>
                  <input type="text" class="form-control" id="inputAddress" placeholder="Direccion">
                </div>
                <div class="form-group">
                    <label for="Socio"># de Socio</label>
                    <input type="number" class="form-control" id="Socio" placeholder="Socio">
                  </div>
                <div class="form-row">
                  <div class="form-group col-md-6">
                    <label for="City">Ciudad</label>
                    <input type="text" class="form-control" id="City" placeholder="Ciudad">
                  </div>
                  <div class="form-group col-md-4">
                    <label for="State">Estado</label>
                    <select id="State" class="form-control">
                      <option selected>Choose...</option>
                      <option value="CDMX">CDMX</option>
                      <option value="NL">Nuevo Leon</option>
                      <option value="VERACRUZ">Veracruz</option>
                    </select>
                  </div>
                </div>
                <button type="submit" class="btn-success btn-lg btn-block rounded-pill">Enviar</button>
                <br>
              </form>
        </div>
          </section>
            <!---End Group form -->
            <!---Group footer-->
    <footer class="text-center">
        <div class="container-fluid">
            <div class="row">
              <div class="col-sm">
        <img  width="133" height="54" alt="Logo" src="\assets\Logo_Hiit.png"/> <br>
        &#169; 2017
              </div>
              <div class="col-sm">
              <span class="toolbar" id="sr"><h6>{{a}}</h6></span>
              <span class="toolbar" id="sr"><h6>{{b}}</h6></span>
              <span class="toolbar" id="sr"><h6>{{c}}</h6></span>
              </div>
              <div class="col-sm rds">
              <a href="https://admin.hiit.io/" target="_blank"><span class="toolbar" id="sr"><h6>{{subtitle}} ></h6></span></a>
                <a href="https://www.facebook.com/stackcodeio/" target="_blank" rel="noopener noreferrer"><span class="toolbar" id="sr"><h6>
                <i class="icon ion-logo-facebook"></i>{{fb}}</h6></span></a>
                <a href="https://twitter.com/stackcodeio" target="_blank" rel="noopener noreferrer"><span class="toolbar" id="sr"><h6>
                <i class="icon ion-logo-twitter"></i>{{tw}}</h6></span></a>
              </div>
            </div>
            <hr>
          </div>
          
    </footer>
            <!---End Group footer -->
<router-outlet></router-outlet>